* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.top {
  width: 100%;
  height: 60px;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #a03bff;
}

.top button:nth-child(1) {
  cursor: pointer;
  border-radius: 3px;
  padding: 8px 15px;
  background: red;
  color: white;
  border: none;
}
.top button:nth-child(2) {
  cursor: pointer;
  border-radius: 3px;
  padding: 8px 15px;
  background: #a03bff;
  color: white;
  border: none;
}

.top .profile {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 30px;
  font-weight: 700;
  color: #a03bff86;
}

.top .profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.projects {
  display: grid;
  grid-template-columns: repeat(4, 250px);
  justify-content: center;
  grid-auto-rows: 250px;
  overflow: scroll;
  width: 1300px;
  margin: 0 auto;
  height: calc(100vh - 60px);
  padding: 30px 0;
  gap: 15px;
}

.project {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: cursive;
  font-weight: 700;
  color: white;
  font-size: 22px;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.projects a {
  border: 1px solid grey;
  font-size: 100px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  color: grey;
}
